version: 2
enable-beta-ecosystems: true
updates:
  - package-ecosystem: "uv" 
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    groups:
      uv-deps:
        patterns:
          - "*"
