[tool.poetry]
name = "overfast-api"
version = "2.0.2"
description = "Overwatch API giving data about heroes, maps, and players statistics."
authors = ["TeKrop <tekrop@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.10"
fastapi = "^0.85.0"
beautifulsoup4 = "^4.11.1"
lxml = "^4.9.1"
redis = "^4.3.4"
requests = "^2.27.1"
uvicorn = {extras = ["standard"], version = "^0.18.3"}
loguru = "^0.6.0"

[tool.poetry.dev-dependencies]
black = "^22.10.0"
pytest = "^7.1.3"
pytest-cov = "^4.0.0"
pytest-sugar = "^0.9.5"
pylint = "^2.15.3"
isort = "^5.10.1"
ipdb = "^0.13.9"
fakeredis = "^1.10.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
