name: "Build"

on:
  pull_request:
    branches: ["main"]

jobs:
  build:
    name: ruff, ty & pytest
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "0.9.28"

      - name: Set up Python
        run: uv python install 3.14

      - name: Install the project
        run: uv sync --frozen --no-cache

      - name: Run ruff code analysis
        run: uv run ruff check .

      - name: Run ty code analysis
        run: uv run ty check .

      - name: Run tests suite
        run: |
          PYTHONPATH=app/ uv run python -m pytest -v --cov-fail-under=80 --cov-report=term-missing --cov=app/ tests/
